#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #token {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #token td, #token th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #token tr:nth-child(even){background-color: #f2f2f2;}
  
  #token tr:hover {background-color: #ddd;}
  
  #token th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
  }
  